.App {
  text-align: center;
}

.nav-tabs {
  display: flex;
  justify-content: space-around;
}

.nav-item {
  color: blue;
  list-style-type: none;
}

.h1 {
  color: red;
}

footer {
  display: flex;
  justify-content: center;
}
