:root {
  background-color: lightblue;
}

.App {
  text-align: center;
}

.nav-tabs {
  display: flex;
  justify-content: space-around;
}

.nav-item {
  list-style-type: none;
}

.nav-link {
  color: palevioletred;
}

.h1 {
  color: red;
  text-align: center;
}

Project {
  display: flex;
}

footer {
  display: flex;
  justify-content: space-around;
}
